<!doctype html>
<html>
<head>
<title>Shri Rabi narayan </title>
<style>
body{
background:#f4f4f4;
}
.wrapper{
	width:1200px;
	margin:0 auto;
}
table tr td{
	padding:10px;
	/* min-width:100px; */
}
h3{
	text-align:center;
	font-weight:bold;
}
h4{
	text-align:center;
	font-weight:normal;
}
table tr td:first-child(){
	width:80px;
}
#amntalign{
	display:flex; flex-wrap: nowrap;
	
}

p{
	text-align:right;
}
input,input:hover,input:focus,input:focus-visible 
{
	background:#f4f4f4;
	border:0;
	width:80%;
	color:#333;
	
    outline: -webkit-focus-ring-color auto 0px;
	font-size:12px;
}</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	var app = angular.module('myApp', []);
	app.controller("form16",function($scope){
		$scope.a1=0
		$scope.b1=0
		$scope.c1=0
		$scope.d1=0
		$scope.e1=0

		// add all rows of bit 1
		$scope.addOne = () =>{
			$scope.d1= $scope.a1+$scope.b1+$scope.c1
			return $scope.d1;
		}


		$scope.a2=0
		$scope.b2=0
		$scope.c2=0
		$scope.d2=0
		$scope.e2=0

		$scope.f2_1=0
		$scope.f2_2=0
		$scope.f2_3=0
		$scope.f2_4=0
		$scope.f2_5=0

		// add all clauses of bit 2 f
		$scope.all2f = () =>{
			$scope.fTotal=$scope.f2_1 + $scope.f2_2 + $scope.f2_3 + $scope.f2_4 + $scope.f2_5
			return $scope.fTotal
		} 

		// add all bits of 2 along with f
		$scope.addTwo = () =>{
			$scope.h2 = $scope.a2 + $scope.b2 + $scope.c2 + $scope.d2 + $scope.e2 + $scope.all2f()
			return $scope.h2
		}
		
		// get number 3, 1d-2h
		$scope.getThree = () =>{
			$scope.three = $scope.d1 - $scope.h2
			return $scope.three
		}

		$scope.a_4=0
		$scope.b_4=0
		$scope.c_4=0
		
		// get number 5, 4a + 4b + 4c
		$scope.getFive = () =>{
			$scope.five = $scope.a_4 + $scope.b_4 + $scope.c_4
			return $scope.five
		} 
		$scope.g2=0

		// get number 6, 3 + 1(e) -5
		$scope.getSix = () =>{
			$scope.six = $scope.getThree() + $scope.e1 - $scope.getFive()
			return $scope.six
		}

		$scope.a7 = 0
		$scope.b7 = 0

		// get number 8, 7(a) + 7(b)
		$scope.getEight = () =>{
			$scope.eight = $scope.a7 + $scope.b7
			return $scope.eight
		}
		
		// get number 9, 6+8
		$scope.getNine = () =>{
			$scope.nine = $scope.getSix() + $scope.getEight()
			return $scope.nine
		}

		$scope.aG10=0
		$scope.aD10=0

		$scope.bG10=0
		$scope.bD10=0

		$scope.cG10=0
		$scope.cD10=0

		$scope.dG10=0
		$scope.dD10=0

		$scope.eG10=0
		$scope.eD10=0

		$scope.fG10=0
		$scope.fD10=0

		$scope.gG10=0
		$scope.gD10=0

		$scope.hG10=0
		$scope.hD10=0

		$scope.iG10=0
		$scope.iQ10=0
		$scope.iD10=0

		$scope.jG10=0
		$scope.jQ10=0
		$scope.jD10=0

		$scope.k1_G10=0
		$scope.k1_Q10=0
		$scope.k1_D10=0
		
		$scope.k2_G10=0
		$scope.k2_Q10=0
		$scope.k2_D10=0
		
		$scope.k3_G10=0
		$scope.k3_Q10=0
		$scope.k3_D10=0
		
		$scope.k4_G10=0
		$scope.k4_Q10=0
		$scope.k4_D10=0
		
		$scope.k5_G10=0
		$scope.k5_Q10=0
		$scope.k5_D10=0
		
		$scope.k6_G10=0
		$scope.k6_Q10=0
		$scope.k6_D10=0
		
		$scope.k7_G10=0
		$scope.k7_Q10=0
		$scope.k7_D10=0
		
		$scope.lG10=0
		$scope.lQ10=0
		$scope.lD10=0

		// add all bits of 10 k for deductible only, this is gor 
		$scope.allD10k= () =>{
			$scope.lD10 = $scope.k1_D10 + $scope.k2_D10 + $scope.k3_D10 + $scope.k4_D10 + $scope.k5_D10 
			+ $scope.k6_D10 + $scope.k7_D10
			return $scope.lD10
		}

		// get number 11, 10(a) + 10(b) + 10(c) + 10(d) + 10(e) + 10(f) + 10(g) + 10(h) + 10(i) + 10(j) + 10(l)
		$scope.getEleven = () => {
			$scope.eleven = $scope.aD10 + $scope.bD10 + $scope.cD10 + $scope.dD10 
			+ $scope.eD10 + $scope.fD10 + $scope.gD10 + $scope.hD10 + $scope.iD10
			+ $scope.jD10 + $scope.lD10
			return $scope.eleven
		} 

		// get number 12, 9 -11
		$scope.getTwelve = () =>{
			$scope.twelve = $scope.nine - $scope.eleven
			return $scope.twelve
		}

		// number 13, tax calculation
		$scope.getTax = () =>{
			$scope.taxAmount=0
			if ($scope.twelve < 250000)
				$scope.taxAmount = 0
			else if($scope.twelve > 250000 && $scope.twelve < 500000)
				$scope.taxAmount = 0.05 * ($scope.twelve - 250000)
			else if($scope.twelve > 500000 && $scope.twelve < 750000)
				$scope.taxAmount = 12500 + 0.10 * ($scope.twelve - 500000)
			else if($scope.twelve > 750000 && $scope.twelve < 1000000)
				$scope.taxAmount = 37500 + 0.15 * ($scope.twelve - 750000)
			else if($scope.twelve > 1000000 && $scope.twelve < 1250000)
				$scope.taxAmount = 75000 + 0.20 * ($scope.twelve - 1000000)
			else if($scope.twelve > 1250000 && $scope.twelve < 1500000)
				$scope.taxAmount = 125000 + 0.25 * ($scope.twelve - 1250000)
			else
				$scope.taxAmount = 187500 + 0.30 * ($scope.twelve - 1500000)
			return $scope.taxAmount
		}

		$scope.fourteen = 0
		$scope.fifteen = 0
		$scope.sixteen = 0

		// get number 17, 13+15+16-14
		$scope.getSeventeen = () =>{
			$scope.seventeen = $scope.taxAmount + $scope.fourteen + $scope.fifteen + $scope.sixteen
			return $scope.seventeen 
		} 

		$scope.eighteen = 0 

		// get number 19, 17-18
		$scope.getNineteen = () =>{
			$scope.nineteen = $scope.seventeen - $scope.eighteen
			return $scope.nineteen
		} 
	})
</script>


</head>
<body ng-app="myApp" ng-controller="form16">
<div class="wrapper">
<h3>SHRI RABINARAYANA SAHOO, WATCH & WARD </h3>
<h3>PAN NO: DGEPS1323D </h3>
<h4>“Part B (Annexure) ( F.Y. 2020-2021)</h4>
<table width="100%" border="1" cellspacing="0" cellpadding="0">
<tr>
<td colspan="5">Details of Salary Paid and any other income and tax deducted</td>
</tr>
<tr>
<td>1.</td>
<td colspan="4">Gross Salary</td>
</tr>
<tr>
<td>(a)</td>
<td>Salary as per provisions contained in section 17(1)</td>
<td><input type="text" /></td>
<td id="amntalign">Rs. <input type="Number" ng-model="a1" value="0"/> </td>
<td><input type="text" /></td>
</tr>
<tr>
<td>(b)</td>
<td>Value of perquisites under section 17(2) (as per Form No. l 2BA, wherever applicable)</td>
<td><input type="text" /></td>
<td id="amntalign">Rs. <input type="Number" ng-model="b1" value="0"/> </td>
<td><input type="text"/></td>
</tr>
<tr>
<td>(c)</td>
<td>Profits in lieu of salary under section 17(3) (as per Form No. 1 2BA, wherever applicable)</td>
<td><input type="text" /></td>
<td id="amntalign">Rs. <input type="Number" ng-model="c1" value="0"/> </td>
<td><input type="text"/></td>
</tr>
<tr>
<td>(d)</td>
<td>Total</td>
<td><input type="text" /></td>
<td><input type="text" /></td>
<td id="amntalign">Rs.<input type="text" ng-model="d1" value="{{addOne()}}" /></td>
</tr>
<tr>
	<td>(e)</td>
	<td>Reported total amount of salary received from other employer(s)</td>
	<td><input type="text" /></td>
	<td><input type="text" /></td>
	<td id="amntalign">Rs. <input type="Number" ng-model="e1" value=""/> </td>
</tr>
<tr>
<td>2.</td>
<td colspan="4">Less: Allowances to the extent exempt under section 10</td>

</tr>
<tr>
<td>(a)</td>
<td>Travel concession or assistance under section 10(5)</td>
<td><input type="text" /></td>
<td id="amntalign">Rs. <input type="Number" ng-model="a2" value=""/> </td>
<td><input type="text" /></td>
</tr>
<tr>
<td>(b)</td>
<td>Death-cum-retirement gratuity under section 10(10)</td>
<td></td>
<td id="amntalign">Rs. <input type="Number" ng-model="b2" value=""/> </td>
<td></td>
</tr>
<tr>
<td>(c)</td>
<td>Commuted value of pension under section 10(10A)</td>
<td></td>
<td id="amntalign">Rs. <input type="Number" ng-model="c2" value=""/> </td>
<td></td>
</tr>
<tr>
<td>(d)</td>
<td>Cash equivalent of leave salary encashment under section 10(IOAA)</td>
<td></td>
<td id="amntalign">Rs. <input type="Number" ng-model="d2" value=""/> </td>
<td></td>
</tr>
<tr>
<td>(e)</td>
<td>House rent allowance under section 10(l3A)</td>
<td></td>
<td id="amntalign">Rs. <input type="Number" ng-model="e2" value=""/> </td>
<td></td>
</tr>
<tr>
<td>(f)</td>
<td>Amount of any other exemption under section 10</td>
<td></td>
<td> </td>
<td></td>
</tr>
<tr>
<td></td>
<td>clause . ..</td>
<td id="amntalign">Rs. <input type="Number" ng-model="f2_1" value=""/> </td>
<td> </td>
<td></td>
</tr>
<tr>
<td></td>
<td>clause . ..</td>
<td id="amntalign">Rs. <input type="Number" ng-model="f2_2" value=""/> </td>
<td> </td>
<td></td>
</tr>
<tr>
<td></td>
<td>clause . ..</td>
<td id="amntalign">Rs. <input type="Number" ng-model="f2_3" value=""/> </td>
<td> </td>
<td></td>
</tr>
<tr>
<td></td>
<td>clause . ..</td>
<td id="amntalign">Rs. <input type="Number" ng-model="f2_4" value=""/> </td>
<td> </td>
<td></td>
</tr>
<tr>
<td></td>
<td>clause . ..</td>
<td id="amntalign">Rs. <input type="Number" ng-model="f2_5" value=""/> </td>
<td> </td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td> </td>
<td></td>
</tr>
<tr>
<td>(g)</td>
<td>Total amount of any other exemption under section 10</td>
<td></td>
<td id="amntalign">Rs. <input type="text" ng-model="fTotal" value={{all2f()}}/></td>
<td></td>
</tr>
<tr>
<td>(h)</td>
<td>Total amount of exemption claimed under section 10 [2(a)+2(b)+2(c)+2(d)+2(e)+2(g)]</td>
<td></td>
<td> </td>
<td id="amntalign">Rs. <input type="text" ng-model="h2" value={{addTwo()}} /></td>
</tr>
<tr>
<td>3.</td>
<td>Total amount of salary received from current employer [1(d)-2(h)]</td>
<td></td>
<td></td>
<td id="amntalign">Rs. <input type="text" ng-model="three" value={{getThree()}}/> </td>
</tr>
<tr>
<td>4.</td>
<td colspan="4">Less: Deductions under section 16</td>
</tr>
<tr>
<td>(a)</td>
<td>Standard deduction under section 16(i)</td>
<td></td>
<td id="amntalign">Rs. <input type="Number" ng-model="a_4" value=""/> </td>
<td></td>
</tr>
<tr>
<td>(b)</td>
<td>Entertainment allowance under section 16(ii)</td>
<td></td>
<td id="amntalign">Rs. <input type="Number" ng-model="b_4" value=""/> </td>
<td></td>
</tr>
<tr>
<td>(c)</td>
<td>Tax on employment under section 16(iii)</td>
<td></td>
<td id="amntalign">Rs. <input type="Number" ng-model="c_4" value=""/> </td>
<td></td>
</tr>
<tr>
<td>5.</td>
<td>Total amount of deductions under section 16 [4(a)+4(b)+4(c)]</td>
<td></td>
<td></td>
<td id="amntalign">Rs. <input type="text" ng-model="five" value="{{getFive()}}"/> </td>
</tr>
<tr>
<td>6.</td>
<td>Income chargeable under the head "Salaries" [(3+1(e)-5]</td>
<td></td>
<td></td>
<td id="amntalign">Rs. <input type="text" ng-model="six" value="{{getSix()}}"/> </td>
</tr>
<tr>
<td>7.</td>
<td colspan="4">Add: Any other income reported by the employee under as per section 192 (2B)</td>
</tr>
<tr>
<td>(a)</td>
<td>Income (or admissible loss) from house property reported by employee offered for TDD</td>
<td></td>
<td id="amntalign">Rs. <input type="Number" ng-model="a7" value=""/> </td>
<td></td>
</tr>
<tr>
<td>(b)</td>
<td>Income under the head Other Sources offered for TDS</td>
<td></td>
<td id="amntalign">Rs. <input type="Number" ng-model="b7" value=""/> </td>
<td></td>
</tr>
<tr>
<td>8.</td>
<td>Total amount of other income reported by the employee [7(a)+7(b)]</td>
<td></td>
<td></td>
<td id="amntalign">Rs. <input type="text" value="{{getEight()}}"/> </td>
</tr>
<tr>
<td>9.</td>
<td>Gross total income (6+8)</td>
<td></td>
<td></td>
<td id="amntalign">Rs. <input type="text" value="{{getNine()}}"/> </td>
</tr>

<tr>
<td>10.</td>
<td colspan="4">Deductions under Chapter VI-A</td>
</tr>

<tr>
<td colspan="3"></td>
<td>Gross Amounts</td>
<td>Deductible Amount</td>
</tr>

<tr>
<td>(a)</td>
<td>Deduction in respect of life insurance premia, contributions to
provident fund etc. under section 80C</td>
<td></td>
<td >Rs.<input  type="Number" ng-model="aG10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="aD10" value="150000"/></td>
</tr>

<tr>
<td>(b)</td>
<td>Deduction in respect of contribution to certain pension funds
under section 80CCC</td>
<td></td>
<td >Rs.<input  type="Number" ng-model="bG10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="bD10" value="150000"/></td>
</tr>

<tr>
<td>(c)</td>
<td>Deduction in respect of contribution by taxpayer to pension
scheme under section 80CCD (1)
</td>
<td></td>
<td >Rs.<input  type="Number" ng-model="cG10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="cD10" value="150000"/></td>
</tr>

<tr>
<td>(d)</td>
<td>Total deduction under section 80C, 80CCC and 80CCD(1)</td>
<td></td>
<td >Rs.<input  type="Number" ng-model="dG10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="dD10" value="150000"/></td>
</tr>

<tr>
<td>(e)</td>
<td>Deductions in respect of amount paid/deposited to notified
pension scheme under section 80CCD (IB)
</td>
<td></td>
<td >Rs.<input  type="Number" ng-model="eG10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="eD10" value="150000"/></td>
</tr>

<tr>
<td>(f)</td>
<td>Deduction in respect of contribution by Employer to pension
scheme under section 80CCD (2)
</td>
<td></td>
<td >Rs.<input  type="Number" ng-model="fG10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="fD10" value="150000"/></td>
</tr>

<tr>
<td>(g)</td>
<td>Deduction in respect of health insurance premia under section
80D
</td>
<td></td>
<td >Rs.<input  type="Number" ng-model="gG10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="gD10" value="150000"/></td>
</tr>

<tr>
<td>(h)</td>
<td>Deduction in respect of interest on loan taken for higher education
under section 80E
</td>
<td></td>
<td >Rs.<input  type="Number" ng-model="hG10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="hD10" value="150000"/></td>
</tr>

<tr>
<td></td>
<td>
</td>
<td>Gross Amount</td>
<td>Qualifying Amount</td>
<td>Deductible Amount</td>
</tr>

<tr>
<td>(i)</td>
<td>Total Deduction in respect of donations to certain funds,
charitable institutions, etc. under section 80G
</td>
<td >Rs.<input  type="Number" ng-model="iG10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="iQ10" value="150000"/></td>
<td >Rs.<input type="Number" ng-model="iD10" value="150000"/></td>
</tr>

<tr>
<td>(j)</td>
<td>Deduction in respect of interest on deposits in savings account
under section 80TTA
</td>
<td >Rs.<input  type="Number" ng-model="jG10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="jQ10" value="150000"/></td>
<td >Rs.<input type="Number" ng-model="jD10" value="150000"/></td>
</tr>

<tr>
<td>(k)</td>
<td colspan="4">Amount deductible under any other provision(s) of Chapter VISA</td>
</tr>

<tr>
<td></td>
<td>Section-24(b)
</td>
<td >Rs.<input  type="Number" ng-model="k1_G10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="k1_Q10" value="150000"/></td>
<td >Rs.<input type="Number" ng-model="k1_D10" value="150000"/></td>
</tr>

<tr>
<td></td>
<td>Section -80-U
</td>
<td >Rs.<input  type="Number" ng-model="k2_G10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="k2_Q10" value="150000"/></td>
<td >Rs.<input type="Number" ng-model="k2_D10" value="150000"/></td>
</tr>

<tr>
<td></td>
<td>section .. . gp
</td>
<td >Rs.<input  type="Number" ng-model="k3_G10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="k3_Q10" value="150000"/></td>
<td >Rs.<input type="Number" ng-model="k3_D10" value="150000"/></td>
</tr>

<tr>
<td></td>
<td>section .. . gp
</td>
<td >Rs.<input  type="Number" ng-model="k4_G10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="k4_Q10" value="150000"/></td>
<td >Rs.<input type="Number" ng-model="k4_D10" value="150000"/></td>
</tr>

<tr>
<td></td>
<td>section .. . gp
</td>
<td >Rs.<input  type="Number" ng-model="k5_G10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="k5_Q10" value="150000"/></td>
<td >Rs.<input type="Number" ng-model="k5_D10" value="150000"/></td>
</tr>

<tr>
<td></td>
<td>section .. . gp
</td>
<td >Rs.<input  type="Number" ng-model="k6_G10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="k6_Q10" value="150000"/></td>
<td >Rs.<input type="Number" ng-model="k6_D10" value="150000"/></td>
</tr>

<tr>
<td></td>
<td>
</td>
<td >Rs.<input  type="Number" ng-model="k7_G10" value="150000"/> </td>
<td >Rs.<input type="Number" ng-model="k7_Q10" value="150000"/></td>
<td >Rs.<input type="Number" ng-model="k7_D10" value="150000"/></td>
</tr>

<tr>
<td>(l)</td>
<td colspan="3">Total of amount deductible under any other provision(s) of
Chapter VISA
</td>

<td >Rs.<input type="Number" ng-model="lD10" value="{{allD10k()}}"/></td>
</tr>

<tr>
<td>11.</td>
<td>Aggregate of deductible amount under Chapter VI-A
[10(a)+10(b)+ 10(c)+10(d)+10(e)+10(f)+10(g)+10(h)+10(i) 10(j)+10(1)d
</td>
<td></td>
<td></td>
<td>	Rs.<input type="Number" ng-model="eleven" value="{{getEleven()}}"/></td>
</tr>

<tr>
<td>12.</td>
<td>Total taxable income (9-11)
</td>
<td></td>
<td> </td>
<td>Rs.  <input type="Number" ng-model="twelve" value="{{getTwelve()}}"/> </td>
</tr>

<tr>
<td>13.</td>
<td>Tax on total income
</td>
<td></td>
<td> </td>
<td>Rs. <input type="Number" ng-model="taxAmount" value="{{getTax()}}"/></td>
</tr>
<tr>
<td>14.</td>
<td>Rebate under section 87A, if applicable
</td>
<td></td>
<td> </td>
<td>Rs. <input type="Number" ng-model="fourteen" value=""/></td>
</tr>
<tr>
<td>15.</td>
<td>Surcharge, wherever applicable
</td>
<td></td>
<td> </td>
<td>Rs.  <input type="Number" ng-model="fifteen" value=""/> </td>
</tr>
<tr>
<td>16.</td>
<td>Health and education cess 4%
</td>
<td></td>
<td> </td>
<td>Rs.   <input type="Number" ng-model="sixteen" value=""/></td>
</tr>
<tr>
<td>17.</td>
<td>Tax payable (13+15+16-14)
</td>
<td></td>
<td> </td>
<td>Rs.   <input type="Number" ng-model="seventeen" value="{{getSeventeen()}}"/></td>
</tr>
<tr>
<td>18.</td>
<td>Less: Relief under section 89 (attach details)
</td>
<td></td>
<td> </td>
<td>Rs.   <input type="Number" ng-model="eighteen" value=""/></td>
</tr>
<tr>
<td>19.</td>
<td>Net tax payable (17-18) / Tax to be refunded (-)
</td>
<td></td>
<td> </td>
<td>Rs.   <input type="Number" ng-model="nineteen" value="{{getNineteen()}}"/></td>
</tr>
<tr>
<td colspan="5" align="center"><i>Verification</i></td>
</tr>
<tr>
<td colspan="5">I, Mohan Dalei, son/daughter of Kirtan Daiei.working in the capacity of Desk Officer (DDO) ( (designation) do hereby certify that the information given above is true, complete and correct and is based on the books of account, documents, TDS statements, and other available records.</td>
</tr>
<tr>
<td colspan="2">Place :- BHUBANESWAR</td>
<td colspan="3">(Signature  of	person deduction of tax)</td>
</tr>
<tr>
<td colspan="2">Date :- 30/04/2021</td>
<td colspan="3">Full Name : MOHAN DALEI</td>
</tr>
</table><br/>
<br/><br/><br/>
<p>Desk Officer-cum-DDO</p>
<p>Odisha legislative  Agency</p>
</div>

</body>
</html>
